* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    /* colors */
     /* primary color */
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);

     /* Rose colors */
    --rose-50: hsl(20, 50%, 98%); 
    --rose-100: hsl(13, 31%, 94%); 
    --rose-300: hsl(14, 25%, 72%); 
    --rose-400: hsl(7, 20%, 60%); 
    --rose-500: hsl(12, 20%, 44%); 
    --rose-900: hsl(14, 65%, 9%); 
  
    /* font-weigth */
    --light: 400;
    --bold: 600;
    --veryBold: 700;

    /* margon */
    --sm-space: .5rem;
    --md-space: 1.2rem;
    --lmd-space: 1.4rem;
    --lg-space: 1.6rem;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background: var(--rose-50);
}

